{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div style=" height: 95vh; margin-top: -2%;" class="container-fluid">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            <div style="width: 75%; margin-top:6% ; padding:5% 5% 5% 5%; font-size: 25px; margin-left: 15%; text-align: center; border: 3px solid gray ;box-shadow: 10px 10px 15px gray; background-color: gainsboro; "  class="card">
                <h3><strong>Sign Up</strong></h3>
                {{wtf.quick_form(registration_form)}}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<style>
    body {
        background-image: url(../static/photos/bluebackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh ;
        opacity: 0.9;
    }


</style>
{% endblock%}