{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macro%}

{% block style%}
{{super()}}
.main{
url_for('static', filename='photos/bluebackground.jpg')
}
{% endblock %}

{% block content %}
<div class="main">
    <h1 style="text-align: center; font-weight: bolder; ">BLOGS</h1>
    <hr>

    <div style="text-align: center; ">

        <div class="title">
            <h2>Quote of the day</h2>
        </div>

        <div style="padding-left: 10%; padding-right: 10%;" class="body">

            <h4 class="quote">{{quote.quote}}</h4>
            <h5 class="author"><em>{{quote.author}}</em></h5>
        </div>
    </div>

    <div class="container-row">
        {{macro.display(blog)}}
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}