{%macro display(blog)%}

<div style="display: flex; flex-wrap: wrap;" class="row">
    {%for blogs in blog%}





    <div style=" margin-top:5% ; margin: 3%; padding:2% 2% 2% 2%; font-size: 25px; text-align: center; border: 3px solid gray ;box-shadow: 10px 10px 15px gray; background-color: gainsboro; "
        class="card col-md-3">

        <div style="font-weight: bolder; font-size: larger;" class="card-header">
            {{blogs.category}}

        </div>

        <div class="card-body">
            <h4 class="card-title">
                {{blogs.title}}
            </h4>
            <p style="padding-left: 5%; padding-right: 5%;" class="card-text">
                {{blogs.blog}}
            </p>
            <a href="{{url_for('main.comment',blog_id=blogs.id )}}">

                <button
                    style="margin: 0 auto; border:none; padding: 1% 3% ; border-radius: 25px; font-size: 20px; margin-bottom: 4%; background-color: white;">Comments</button>
            </a>

            <p>
                {{blogs.time}}
            </p>
        </div>
    </div>

    {% endfor %}

</div>




{% endmacro %}